<% provide(:name, ": #{@user.name}") %>
<h2><%= @user.name %></h2>

<h3>Photos</h3>

<ul>
<% @user.photos.each do |p| %>
  <li>
    <%= link_to image_tag( p.logo.url(:thumb) ), p.logo.url %>
    <%= link_to p.title, photo_path(p) %>
  </li>
<% end %>
</ul>

<h3>Photo I Like</h3>
<% @user.likes.each do |l| %>
  <%= link_to l.photo.try(:title), photo_path(l) %>
<% end %>

<h3>Photo I Follow</h3>
<% @user.follows.each do |f| %>
  <%= link_to f.photo.try(:title), photo_path(f) %>
<% end %>

<h3>Photo I Comment</h3>
<% @user.comments.each do |c| %>
  <li>
    <%= link_to c.photo.try(:title), photo_path(c.photo) %>
    <%= truncate(c.content) %>
    <%#= link_to 'Delete Comment', user_comment_path(@user, c), :method => :delete %>
  </li>
<% end %>
</ul>

<p><%= link_to 'Back to Index', photos_path, class: "btn btn-primary" %></p>