<% provide(:title, ": #{@photo.title}") %>
<%= form_for @photo, :url => photo_path(@photo), :html => { :multipart => true }, :method => :patch do |f| %>
  <%= link_to image_tag( @photo.logo.url(:medium) ), @photo.logo.url %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= f.submit 'Update' %>
<% end %>

<h3>Comments</h3>
<ol>
  <% @photo.comments.each do |comment| %>
  <li>
    <%= comment.content %>
    <%= link_to 'Delete Comment', photo_comment_path(@photo, comment), :method => :delete %>
  </li>
  <% end %>
</ol>

<p>New comment</p>
<%= form_for Comment.new, :url => photo_comments_path(@photo) do |f| %>
  <%= f.text_area :content %>
  <%= f.submit "Reply" %>
<% end %>

<p><%= link_to 'Back to Index', photos_path, class: "btn btn-primary" %></p>