<% provide(:title, ": #{@photo.title}") %>
<%= link_to image_tag( @photo.logo.url(:medium) ), @photo.logo.url %>
<h3>Photo Title</h3>
<%= @photo.title %>
<h3>Photo Description</h3>
<%= simple_format(@photo.description) %>
<h3>Author</h3>
<% @photo.authors.each do |a| %>
  <%= link_to a.display_name, user_path(a) %>
<% end %>

<h3>Likes</h3>
<%= @photo.likes_count %>

<% if like = @photo.find_by_like(current_user) %>

    <%= form_for Like.new, :url => photo_like_path(@photo, like), :method => :delete do |f| %>
    <%= f.submit "Unlike" %>
  <% end %>

<% else %>

  <%= form_for Like.new, :url => photo_likes_path(@photo) do |f| %>
    <%= f.submit "Like" %>
  <% end %>

<% end %>

<h3>Like List</h3>
<% @photo.likes.each do |l| %>
  <%= link_to l.user.try(:name), photo_path(l) %>
<% end %>


<h3>Comments</h3>
<ol>
  <% @photo.comments.each do |comment| %>
  <li>
    <%= comment.content %>
    <%= link_to 'Delete Comment', photo_comment_path(@photo, comment), :method => :delete %>
  </li>
  <% end %>
</ol>

<p>New comment</p>
<%= form_for Comment.new, :url => photo_comments_path(@photo) do |f| %>
  <%= f.text_area :content %>
  <%= f.submit "Reply" %>
<% end %>

<p><%= link_to 'Back to Index', photos_path, class: "btn btn-primary" %></p>
